@charset "utf-8";
/* Windows 用 Medium 指定の游ゴシック */
@font-face {
    font-family: "Yu Gothic M";
    src: local("Yu Gothic Medium");
  }
  /* font-weight: bold の時は通常どおり Bold 書体を使わせる */
  @font-face {
    font-family: "Yu Gothic M";
    src: local("Yu Gothic Bold");
    font-weight: bold;
  }
  /* ゴシック体指定 */
html {
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", HelveticaNeue, "Segoe UI", "游ゴシック体", YuGothic, "Yu Gothic M", "游ゴシック Medium", "Yu Gothic Medium", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN W3", HiraKakuProN-W3, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    width:100%;
    font-size:100%;
    text-align: center;
}
body{
    width:100%;
    text-align: center;
}
p{
    margin:0;
    padding:0;
}
em,a,a:hover{
    font-style: normal;
    color: #000;
    text-decoration: none;
}

.br-sp { display:none; }

@media screen and (max-width: 480px) {
    .br-sp { display:inline; }
}