.DS_Store
.editorconfig

shop_app_system/application/cache/*
!shop_app_system/aapplication/cache/index.html

shop_app_system/aapplication/logs/*
!shop_app_system/aapplication/logs/index.html

!shop_app_system/aapplication/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

shop_tmp/*
shop_products_img/*

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
